html,body{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

.container{
    background-color: #111111;
    width: 100%;
    color: #fff;
}

main{
    height: 100vh;
}

.header_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.8rem;  
}

nav ul.nav_links{
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}

nav ul li{
    list-style: none;
    text-decoration: none;
}

nav ul div.nav_links-row{
    display: flex;
    flex-direction: column;
}

nav ul div div{
    display: flex;
    margin-right: 30px;
}

nav ul div ul div{
    display: flex;
    justify-content: space-around;
}

nav ul div ul{
     display: none; 
     position: absolute;
     margin-top: 0.8rem;
     margin-right: 1rem;
     top: 100%;
     left: 0;
    z-index: 1; 
    background-color: #B0C4CD;
    width: 300px;
    border-radius: 14px;
}


nav ul div ul a{
    display: block;
    padding: 10px;   
    color: #111;
    text-decoration: none;
}

nav ul div ul li:hover{
    background-color: #fff;
}

nav ul div li:hover > ul{
    display: block;
}

nav ul div li{
    position:relative;
}




.nav_links li:hover{
    color: #B0C4CD;
}

.nav_links-dropdown:hover{
    background-color: #B0C4CD;
    width: 200px;
}

.header_btn button{
    padding: 14px 30px;
    outline: none;
    border: none;
    border-radius:18px;
    background-color: #ffffff;
    font-weight: bold;
}


.hero_banner{
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding:0 2.8rem;
}

.hero_banner-content-subtitle{
    font-weight: 500;
    line-height:100px;
    letter-spacing: -0.02em;
    width: 652px;
    height: 30px;
    color: rgba(255,255,255,0.54);
}

.hero_banner-content-title{
    width: 740px;
    height: 216px;
    color: #ffffff;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -0.03em;
}

.hero_banner-column{
    display: flex;
    flex-direction: column;
}

.hero_banner-column img{
    margin-top: -7rem;
}

.hero_banner-img{
    background: url('./assets/gamebox.png');
    height: 485px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
}


.hero_banner-content-btn{
    display: flex;
    align-items: center;
}

.hero_banner-content-btn .long-btn{
    width: 450px;
    height: 50px;
    border-radius: 18px;
    text-align: left;
    padding-left: 3rem;
    font-size: 20px;
    color: #ffffff;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: #111;
}

.hero_banner-content-btn .long-btn:hover{
    background-color: #fff;
    color: #111;
    border: 2px solid #111;
    transition:all 0.5s ease-in-out;
}

.hero_banner-content-btn .short-btn{
    position: absolute;
    left: 26.2rem;
    background-color: #fff;
    z-index: 1;
    width: 80px;
    height: 50px;
    border-radius: 18px;
    font-size: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.hero_banner-content-btn .short-btn:hover{
    background-color: #111;
    color: #fff;
    border: 2px solid #fff;
    transition:all 0.5s ease-in-out;
}

/* .hero_banner-content-paragraph{
    text-align: center;
} */
section .partners_logo{
    height: 277px;
    background-color: #B0C4CD;
    width: 100%;
}

.partners_logo-column{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.parnters_paragraph p{
    text-align: center;
    margin-top: -8rem;
    font-size: 30px;
    font-weight: bold;
    font-family: 'roboto';
}
.partners_logo_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.partners_logo_row img{
    height: 43.68px;
    width: 156.68px;
    object-fit: contain;
}

.startup-studio{
    width: 100%;
   color: #fff;
}

div .view{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .view p{
    margin-right: 10px;
}

.section_title h1{ 
    display: flex;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    font-size: 42px;
}

.icons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

}

ul.icons_two-rows{
    display: flex;
    justify-content: center;
}

.icon_row{
    display: flex;
    flex-direction: column;    
    padding:0 10rem
}

.icon_row i{
    font-size: 30px;
    background-color: #fff;
    color: #111;
    height: 100px;
    width: 100px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_row li{
     display: flex;
     flex-direction: column;
     list-style: none;
     margin-top: 1rem;
     text-align: center;
}

.business_plan{
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.business_plan p{
    height: 294px;
    width: 522px;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    font-style: normal;
    color: #fff;
    text-align: justify;
}

.cards_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cards_row-content{
    color: #fff;
}
.cards_row-content h6{
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}

.card{
    height: 200px;
    width: 300px;
    border: 1px solid #fff;
    border-radius: 24px 24px 0px 0px;
    padding:2rem;
    text-align: justify;
    /* margin: 0 50px; */
    line-height: 25px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom: 14px solid #fff;

}

.feature{
    display: flex;
    align-items: start;
    font-weight: normal;
}
.feature h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.feature_left{
    width: 50%;
}
.feature_right{
    width: 50%;
}

ul.list{
    color: #fff;
    display: flex;
    align-items: center;
}

ul.list img{
    padding-right: 15px;
}

.list li{
    list-style: none;
    color: #fff;
}

.vision{
    height: 140vh;
    width: 100%;
    background-color: #535A6A;
}

.vision ul{
    display: flex;
    justify-content: space-around;
    
}

.vision .row li{
    margin-top: 5rem;
    list-style: none;
    font-weight: normal;
    font-size: 20px;
    color:rgba(255,255,255,0.7);
    line-height: 28px;
    text-align: center;
    margin-bottom: 5rem;
    
}

.rectangle_row{
    display: flex;
}

.rectangle_row img{
    margin-top: -7rem;
    padding-left: 3rem;
}
.rectangle{
    height: 72px;
    width: 172px;
    background-color: #fff;
    box-shadow: 0px 4px 50px rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}


.rectangle p{
    color: #111;
    font-size: 20px;
   
}

.rectangle-Iaas{
    height: 183px;
    width: 172px;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
   
    font-weight: bold;

}

.rectangle-Paas{
    height: 283px;
    width: 172px;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: bold;  
}

.rectangle-Saas{
    height: 383px;
    width: 172px;
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.rectangle-Taas{
    height: 483px;
    width: 172px;
    background-color: #B0C4CD;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
   
    font-weight: bold;
}

.bg-icon{
    width: 100%;
    padding:5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check{
    height: 118vh;
}
.check h1{
    padding: 0 2.8rem;
    font-size: 48px;
    color: #fff;
}

.check_list{
    display: flex;
}



.check_list-left li{
    font-size: 20px;
}
.check_list .check_list-img{
    right: 0;
    position: absolute;
}

.why{
    height: 90vh;
    padding: 3rem 0;
    width: 100%;
    background-color: #B0C4CD;
    color: #111;
}

.why_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why_content h4{
    text-transform: uppercase;
    font-weight: bold;
}

.why_content h1{
    font-weight: bolder;
    font-size: 30px;
}

.why_content p{
    text-align: center;    
}

.why_subcontent{
    text-align: center;
}

.why_subcontent h1{
    font-weight: bold;
}

.why_subcontent p{
    font-weight:normal;
}

.row_icons{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.row_icons-column{
    display: flex; 
    align-items: center;
}

.row_icons-column img{
    background-color:#111;
    /* color: #111; */
    height: 22px;
    width: 22px;
    /* border: 1px solid #fff; */
    padding: 1rem;
    border-radius: 3rem;
}


.row_icons-column p{
    margin-right: 3rem;
    margin-left: 1rem;
}

.why_btn button{
    padding: 0.8rem;
    width: 300px;
    font-weight: 500;
    background-color: #111;
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 14px;
}

.why_btn button:hover{
    background-color: #fff;
    color: #111;
    transition: all 0.5s ease-in-out;
}


.footer_content{
   padding: 2rem 2.8rem;
}
.footer h1{
    font-size: 30px;
    font-weight: bold;
}

.footer_content input{
    padding: 0.8rem 1rem;
    width: 500px;
    border: none;
    border-radius: 30px;
}

.footer_content .footer_btn{
    display: flex;
    align-items: center;
    
}

.footer_content button{
    position: absolute;
    background-color: #111;
    color: #fff;
    z-index: 1;
    padding: 0.6rem 2rem;
    border-radius: 18px;
    font-size: 15px;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-left: 24.5rem;
}

.footer_content button:hover{
    color: #111;
    background-color: #fff;
    border: 2px solid #111;
    transition: all .5s ease-in-out;
}

.footer_content-row{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}

.footer_row{
    display: flex;
}

ul.footer_links{
    margin-top: 4.5rem;
}

.footer_links li{
    list-style: none;
    line-height: 2.5rem;
}

.footer_social-media{
    display: flex;
    justify-content: space-evenly;
}

.footer_social-media img{
    margin: 0 0.4rem;
}

.footer_copyright{
    text-align: center;
}

.footer_links-copyright{
    display: flex;
    justify-content: center;

}

.footer_links-copyright a{
    color: #fff;
}
.footer_links-copyright li{
    color: #fff;
    list-style: none;
    margin-right: 4rem;
}


/* Mobile devices with screen width up to 480px */
@media screen and (max-width:480px) {

    nav{
        display: none;
    }

    main{
        height: 80vh;
    }
    .hero_banner-content-subtitle{
        margin-top: 5rem;
        line-height:30px;
        width: 300px;  
    }

    .hero_banner-content-title{
        width: 352px;
        height: 150px;
        font-size: 25px;
        margin-top: 3rem;
        line-height: 52px;
        text-align: left;
    }

    .hero_banner-img{
        display: none;
    }

    .hero_banner-content-btn .long-btn{
    width: 150px;
    background-color: #fff;
    color: #111;
    border-radius: 18px;
    text-align: left;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: bold;
    }
    
    .hero_banner-content-btn .short-btn{
        display: none;
    }

    .hero_banner-column img{
        display: none;
    }

    section .partners_logo{
        height: 100%;
        padding: 2rem 0;
    }

    .section_title h1{
        font-size: 25px;
    }

    .parnters_paragraph p{
        margin-top: -4rem;
        font-size: 20px;
}
.partners_logo_row{
    flex-direction: column;
    align-items: center;
}

.partners_logo_row img{
    margin: 1rem 0;
}


.icon_row{
    display: flex;
    flex-direction: column;    
    padding:0 2rem;
    margin-left:-2rem;
}

.business_plan{
    height: 100%;
    padding: 2rem 2.8rem;
}

.business_plan img{
    width: 400px;
}


.business_plan p{
    width: 360px;
    font-size: 15px;
    line-height: 32px;
}


.feature{
    display: block;  
    width: 100%;
}

.feature_left{
    width: 100%;
}

.feature_left img{
    display: none;
}

.feature h1{
    font-size: 30px;
  }

.feature_right{
    width: 100%;
}
ul.list{
    display: flex;
    justify-content: start;
}

.vision{
    display: none;
}

.bg-icon img{
    width: 100%;
}

.check{
    height: 100%;
}
.check h1{
    padding: 0 2.8rem;
    font-size: 25px;
    text-align: left;    
}


.check_list-left li{
    font-size: 15px;
}
 .check_list-img{
    display: none;
 }
.why{
    height: 100%;
    padding: 1rem 0;
    width: 100%;
    background-color: #B0C4CD;
    color: #111;
}

.why_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why_content h4{
    text-transform: uppercase;
    font-weight: bold;
}

.why_content h1{
    font-weight: bolder;
    font-size: 25px;
}

.why_content p{
    text-align: center;    
}

.why_subcontent{
    text-align: center;
}

.why_subcontent h1{
    font-weight: bold;
}

.why_subcontent p{
    font-weight:normal;
}

.row_icons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row_icons-column{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.row_icons-column img{
    padding: 1rem;

}

.why_btn button{
    width: 150px;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer h1{
     font-size: 25px;
 }
 
.footer_content input{
     padding: 0.8rem 1rem;
     width: 300px;
}
 
 /* .footer_content .footer_btn{
     display: flex;
     align-items: center;
     
 }
  */
 .footer_content button{
          margin-left: 11.6rem;
 }
 
 .footer_content-row{
     justify-content:left;
     flex-direction: column;
     align-items: start;
     margin-top: 2rem;
 }
 
 .footer_row{
     /* display: flex;
     flex-direction: column; */
     margin-top: -3rem;
 }
 
 .footer_links{
    margin-top: -3rem;
 }
 
 .footer_social-media img{
     margin: 0 0.4rem;
 }
 
 .footer_copyright{
     text-align: center;
 }
 
 
 .footer_links-copyright a{
     color: #fff;
 }
 .footer_links-copyright li{
     color: #fff;
     list-style: none;
     margin-right: 4rem;
     padding-bottom: 1rem;
    
 }


}

/* Tablet devices with screen width up to 768px */
@media screen and (min-width:481px) and (max-width:768px) {

    nav{
        display: none;
    }

    main{
        height: 80vh;
    }
    .hero_banner-content-subtitle{
        margin-top: 5rem;
        line-height:30px;
        width: 380px;  
    }

    .hero_banner-content-title{
        width: 380px;
        height: 200px;
        font-size: 30px;
        margin-top: 3rem;
        line-height: 52px;
        text-align: left;
    }

    .hero_banner-img{
        display: none;
    }

    .hero_banner-content-btn .long-btn{
    width: 150px;
    background-color: #fff;
    color: #111;
    border-radius: 18px;
    text-align: left;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: bold;
    }

    .hero_banner-content-btn .long-btn:hover{
    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
    }
    
    .hero_banner-content-btn .short-btn{
        display: none;
    }

    .hero_banner-column img{
        display: none;
    }

    section .partners_logo{
        height: 100%;
        padding: 2rem 0;
    }

    .section_title h1{
        font-size: 25px;
    }

    .parnters_paragraph p{
        margin-top: -4rem;
        font-size: 20px;
}
.partners_logo_row{
    flex-direction: column;
    align-items: center;
}

.partners_logo_row img{
    margin: 1rem 0;
}


.icon_row{
    display: flex;
    flex-direction: column;    
    padding:0 2rem;
    margin-left:-2rem;
}

.business_plan{
    height: 100%;
    padding: 2rem 2.8rem;
}

.business_plan img{
    width: 400px;
}


.business_plan p{
    width: 360px;
    font-size: 15px;
    line-height: 32px;
}


.feature{
    display: block;  
    width: 100%;
}

.feature_left{
    width: 100%;
}

.feature_left img{
    display: none;
}

.feature h1{
    font-size: 30px;
  }

.feature_right{
    width: 100%;
}
ul.list{
    display: flex;
    justify-content: start;
}

.vision{
    display: none;
}

.bg-icon img{
    width: 100%;
}

.check{
    height: 100%;
}
.check h1{
    padding: 0 2.8rem;
    font-size: 25px;
    text-align: left;    
}


.check_list-left li{
    font-size: 15px;
}
 .check_list-img{
    display: none;
 }
.why{
    height: 100%;
    padding: 1rem 0;
    width: 100%;
    background-color: #B0C4CD;
    color: #111;
}

.why_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why_content h4{
    text-transform: uppercase;
    font-weight: bold;
}

.why_content h1{
    font-weight: bolder;
    font-size: 25px;
}

.why_content p{
    text-align: center;    
}

.why_subcontent{
    text-align: center;
}

.why_subcontent h1{
    font-weight: bold;
}

.why_subcontent p{
    font-weight:normal;
}

.row_icons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row_icons-column{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.row_icons-column img{
    padding: 1rem;

}

.why_btn button{
    width: 150px;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer h1{
     font-size: 25px;
 }
 
.footer_content input{
     padding: 0.8rem 1rem;
     width: 300px;
}
 
 /* .footer_content .footer_btn{
     display: flex;
     align-items: center;
     
 }
  */
 .footer_content button{
          margin-left: 11.6rem;
 }
 
 .footer_content-row{
     justify-content:left;
     flex-direction: column;
     align-items: start;
     margin-top: 2rem;
 }
 
 .footer_row{
     /* display: flex;
     flex-direction: column; */
     margin-top: -3rem;
 }
 
 .footer_links{
    margin-top: -3rem;
 }
 
 .footer_social-media img{
     margin: 0 0.4rem;
 }
 
 .footer_copyright{
     text-align: center;
 }
 
 
 .footer_links-copyright a{
     color: #fff;
 }
 .footer_links-copyright li{
     color: #fff;
     list-style: none;
     margin-right: 4rem;
     padding-bottom: 1rem;
    
 }


}

/* 






